@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* toastStyles.css */
.custom-toast {
    font-family: 'Poppins', sans-serif; /* Change this to your desired font */
    font-size: 16px; /* Adjust font size as needed */
    color: #333; /* Adjust font color as needed */
  }